html{
    background-color: #333;
}
body{
    background-color: white;
    margin: 10px;
    font-family: "Gill Sans", sans-serif;
    color: #333;
    padding: 10px;
    padding-bottom: 5px;
}

header{
    display : grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: URL("../Images/headerBanner.jpg");
    background-size: cover;
    color: white;
    text-align: center;
}
header a:link, a:visited {
    background-color: #333;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
header a:hover, a:active {
    background-color: white;
    color: #333;
}
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: 0px;
}

article {
    display: grid;
    margin-top: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    background-color: #333;
    color: white;
    text-align: center;
    
}
.articleImg {
    background-image: URL("../Images/Puppy1.jpg");
    background-repeat: no-repeat;
    height:256px;
    width:256px;
    border-radius: 128px;
    margin: auto;
}

/* (A) 3 COLUMNS PER ROW */
#grid {
    display: grid;
    grid-template-columns: auto auto auto; 
    background-color: #333;
    color: white;
}
/* (B) 1 COL ON SMALL SCREENS */
@media screen and (max-width:768px) {
    #grid { grid-template-columns: auto; }
    article { grid-template-columns: auto; }
}
/* (C) OPTIONAL FOR THE CELLS */
.cell {
  margin: 10px;
}
.cell img {
    margin: auto;
    display: block;
    border-radius: 128px;
}
.cell img:hover{
    background-color: #333;
    opacity: 10%;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 10px;
}
